<ion-view view-title="Login">


  <ion-content class="padding-vertical">
  <div class = "button button-block padding"></div>
    <center><h2>Welcome to Gastamo</h2></center>
    <p>
    <br>

    <center><img src="img/gastamo.png"/></center>

    

    <div class="card">
      <div class="list">
        <label class="item item-input">
          
          <input type="text" placeholder="Username" ng-model="data.benutzer">
        </label>
        <label class="item item-input">
          
          <input type="password" placeholder="Passwort" ng-model="data.passwort">
        </label>

        
      </div>
    </div>

     <center>
       <h5>
        {{"nicht_regist" | translate}} <a href="http://market.ionic.io/starters" target="_blank">
        {{"regist" | translate}}</a>
       </h5></center>

    <div class = "button button-block padding"></div>

    <center><button class="button button-positive" ng-click="login()">
         &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    </button></center>

  </ion-content>


</ion-view>


