<ion-view view-title="Dashboard">


  <ion-content class="padding-vertical">
  <div class = "button button-block padding"></div>
    <center><h2>Welcome to Gastamo</h2></center>
    <p>
    <br>

    <center><img src="/img/gastamo.png"/></center>

    

    <div class="card">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Benutzername</span>
          <input type="text" ng-model="benutzer">
        </label>
        <label class="item item-input">
          <span class="input-label">Passwort</span>
          <input type="password" ng-model="password">
        </label>

        
      </div>
    </div>

        <h5>
    <center> Nicht registriert? <a href="http://market.ionic.io/starters" target="_blank">Registrierung</a></center>
    </h5>

    <div class = "button button-block padding"></div>

    <center><button class="button button-positive" ng-click="login()">
         &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    </button></center>

  </ion-content>


</ion-view>


