<ion-view view-title="Grammatik">

  <ion-content class="padding-vertical">

		<div class="list">

	 	<!-- 	<a class="item" href="#">
			    <i class="ion-flag larger"></i>
			    &nbsp;&nbsp;{{"edit_c" | translate}}
			</a> -->

		  <a class="item item-icon-left item-icon-right" href="#/tab/grammarNoun">
		    <i class="icon ion-chatbubble-working"></i>
		    Nomen
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#/tab/grammarVerb">
		    <i class="icon ion-chatbubble-working"></i>
		    Verben
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>

		   <a class="item item-icon-left item-icon-right" href="#/tab/grammarAdjektiv">
		    <i class="icon ion-chatbubble-working"></i>
		    Adjektive
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>

		</div>

  </ion-content>

</ion-view>