<ion-view view-title="Grammatik Prof">

  <ion-content class="padding-vertical">

		<div class="list">
		  <a class="item item-icon-left item-icon-right" href="#/tab/grammarNounProf">
		    <i class="icon ion-chatbubble-working"></i>
		    Nomen
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>

		  <a class="item item-icon-left item-icon-right" href="#/tab/grammarVerbProf">
		    <i class="icon ion-chatbubble-working"></i>
		    Verben
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>

		   <a class="item item-icon-left item-icon-right" href="#/tab/grammarAdjektivProf">
		    <i class="icon ion-chatbubble-working"></i>
		    Adjektive
		    <i class="icon ion-ios-chatboxes-outline"></i>
		  </a>  
		</div>

  </ion-content>

</ion-view>