<ion-view view-title="Student's Dashboard">

  <ion-content class="padding-vertical">

    <div class="item item-divider">
      <center>
              {{"activities" | translate}}
            </center>
    </div>


    <div class="list">

      <a class="item" href="#">
        <i class="ion-flag larger"></i>
        &nbsp;&nbsp;{{"continue" | translate}}
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/chats">
        <i class="icon ion-chatbubble-working"></i>
        Chat-Box (Tandem)
        <i class="icon ion-ios-chatboxes-outline"></i>
      </a>

      <a class="item item-icon-left" href="#" ng-click()>
        <i class="icon ion-mic-a"></i>
        {{"ausp_auf" | translate}}
        <span class="item-note">
          buchstabieren
        </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        {{"friends" | translate}}
        <span class="badge badge-assertive">0</span>
      </a>

    </div>

    <div class="item item-divider">
        <center>
                {{"categ" | translate}}
              </center>
    </div>

    <a class="item" href="#">
          <i class="ion-videocamera larger"></i>
          &nbsp;&nbsp;Videos
          <span class="item-note">
            Active learning, youtube, Vimeo
          </span>
        </a>


        <a class="item item-icon-left" href="#/tab/ubung">
          <i class="icon ion-music-note"></i>
          Music
          <span class="item-note">
            Nur zu Besuch - Die Toten Hosen
          </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-play"></i>
            {{"vok_t" | translate}}
          <span class="item-note">
            Elek­tri­zi­täts­ver­sor­gung
          </span>
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-flash"></i>
          {{"gram_t" | translate}}
          <i class="icon ion-arrow-right-c"></i>
        </a>



  </ion-content>


</ion-view>


