<ion-view view-title="Ubung">
  <ion-content class="padding">
  <ion-list>



<div class="row row-center">

    <center><button class="button button-calm">
  Tandem Partner
</button></center>

    <center><mitte><button class="button button-balanced">
  Vokabular üben
</button></mitte></center>

    <center><button class="button button-energized">
  Grammatik üben
</button></center>

    <center><button class="button button-calm">
  Video Aufnehmen
</button></center>

   </div>
</ion-list>
  </ion-content>
</ion-view>
