<ion-view view-title="vokabeln">
  <ion-content class="padding-vertical">
 	 

 	  <div class="item item-divider">
  Vokabeln Üben
  </div>

  

<button class="button button-full button-balanced">
  Tiere
</button>

<button class="button button-full button-balanced">
  Hause
</button>

<button class="button button-full button-balanced">
  Schule
</button>

<button class="button button-full button-balanced">
  Stadt
</button>

<button class="button button-full button-balanced">
  Familie
</button>
	 </ion-content>
</ion-view>

<!--
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Tiere
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Schule
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Hause
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Familie
  </a>

</div>
-->