<ion-view view-title="Ubung">
  <ion-content class="padding">
  <ion-list>


<p style="margin-top: 100px;"  </p>

<center><img src="img/books.png"/></center>

<!--<div class = "button button-block padding"></div>
-->

<div class=" list">
<button class="button button-full button-calm">
 Tandem Suchen
</button>

<button class="button button-full button-balanced">
  Vokabeln Üben
</button>

<button class="button  button-full button-energized">
 Grammatik Üben
</button>

<button class="button button-full button-assertive">
  Pronouns & record
</button>

<button class="button button-full button-royal">
  Muzik
</button>

<button class="button button-full button-positive">
  Video abspielen
</button>

<!--
<audio controls>
 
  <source src="01-ImCafe.mp3" type="audio/mpeg">

</audio>
-->

<!--button class="button button-royal">
  button-royal
</button>

<button class="button button-dark">
  button-dark
</button>
 
-->
   </div>
</ion-list>
  </ion-content>
</ion-view>
