<ion-view view-title="Video">

  <ion-content class="padding">

    <p style="margin-top: 100px;" </p>

    <center><img src="img/video.png"/></center>

    <p style="margin-top: 100px;" </p>

		<div class="list">

		  <div class="item item-divider">
		    Language Learning
		  </div>

	    <a class="item item-thumbnail-left" href="#/tab/video" ng-repeat="x in langLearnCont">
	      <img src={{x.src}}>
	      <h2>{{x.name}}</h2>
	      <p>{{x.title}}</p>
	    </a>			    

		  <div class="item item-divider">
		    Entertainment
		  </div>

	    <a class="item item-thumbnail-left" href="#/tab/video" ng-repeat="x in entertainCont">
	      <img src={{x.src}}>
	      <h2>{{x.name}}</h2>
	      <p>{{x.title}}</p>
	    </a>				    

		</div>

  </ion-content>

</ion-view>
