/* Empty. Add your own CSS if you like */

<style>
.button {
    text-align:centre;
}
.button > * {
    display:inline-block;
}
.larger {
    font-size: 25px;
}
.element.ng-hide{
  display:none;
}

.dashstudTab.ng-hide{
  display:none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quiz {
  height:54.5px;
  align:left;
  /*width: 8%;*/
  /*display: inline-block;*/
}

</style>
