/* Empty. Add your own CSS if you like */

<style>
.button {
    text-align:centre;
}
.button > * {
    display:inline-block;
}
.larger {
    font-size: 25px;
}
.element.ng-hide{
  display:none;
}

.dashstudTab.ng-hide{
  display:none;
}

</style>
